body {
  background-color: #9B9B9B;
  font-family: 'Open-Sans';

}
.hidden {
  display: none;
  width: auto;

}
.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;

}
.window {
  background-color: rgb(0, 0, 0);
  
  border-radius: 25px;
  border: 5px solid rgb(252, 252, 252);
  padding: 50px;
  text-align:left;
  color: rgb(252, 252, 252);
 width: auto;
}


.window-title, .window-content {

  
  p {
    margin: 5px;

  }
}
.window-title {
  border-bottom: 0;
  button {
    display: none;
    float: center;
    

  }
}
.window-content {
 padding: 10px;
 

}
#markdown {
 background-color: rgb(51, 51, 51)


}

img { 

  justify-content: center;
    align-items: center;
  //margin: auto;
   width: 100%;
  // height:35%;
  // width:700;
}

h1 {  font-size: 200%;
      margin-top: -.5em;

};

h2 { font-size: 200%; 
  margin-top: -.5em; 
}